body {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background-color: rgb(20, 20, 20);
}


body > footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 1em;
    color: #d60000;
    vertical-align: middle;
}



/*boven navigatie*/

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 1em;
    height: 4em;
    position: fixed;
    z-index: 4;
    background-color: rgb(20, 20, 20);
    top: 0px;
}



nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    font-family: helvetica, sans-serif;
    line-height: 2em;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}




nav ul li:hover {
    color: whitesmoke;
}

nav a:hover {
    color: whitesmoke;
}


nav ul li:focus {
    color: whitesmoke;
}

nav a:focus {
    color: whitesmoke;
}


nav ul li i {
    font-size: 1.5em;
}

nav ul li a {
    color: white;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    font-family: helvetica;
    line-height: 2em;
    text-decoration: none;
}



/*banner*/

.banner {
    box-sizing: border-box;
    width: 100%;
    height: 30em;
    padding-top: 10em;
    padding-left: 5em;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.banner img {
    width: 100%;
    height: 30em;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: brightness(60%);
}

.banner h1 {
    font-size: 3em;
    font-family: helvetica;
    color: white;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

.banner h2 {
    font-family: helvetica;
    color: white;
    z-index: 2;
}

#buttonbar {
    z-index: 2;
}

#buttonbar button {
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.66);
    border: none;
    color: white;
    margin-right: 0.5em;
}

#buttonbar button i {
    margin-right: 5px;
}


/*Videos*/

section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 2em;
    flex-wrap: wrap;
}


.scrollcontainer {
    display: flex;
    overflow-x: auto;
    margin-bottom: 2em;
    &::-webkit-scrollbar {
        display: none;
    }

}


section h1 {
    color: white;
    ;
    font-weight: 100;
    font-size: 1.5em;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}


section h2 {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    font-family: helvetica, sans-serif;
    font-weight: 500;
}



/*micro interacties*/

#notification {
    display: none;
}


#notification.added {
    position: absolute;
    display: block;
    width: 2em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #d60000;
    color: white;
    font-weight: 300;
    font-family: helvetica, sans-serif;
}




/*Mijn lijst*/

.mijn_lijst section{
    display: flex;
    flex-direction: row;
    margin-top: 10em;
}

.mijn_lijst h1
{
    font-family: helvetica;
    font-style: bold;
    width: 100%;
    margin-left: 1.3em;
}

.mijn_lijst button[name='allesdownloaden']
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    margin-bottom: 2em;
    margin-left: 2em;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #b91b1b;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    font-family: museo-sans, sans-serif;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}


.mijn_lijst button[name='allesdownloaden'] i
{
    margin-left: 10px;
    font-size: 1em;
}

.mijn_lijst section article
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3em;
    border: solid 1px #b91b1b;
    flex-wrap: wrap;
    background-color: black;
}

.mijn_lijst section article img
{
    -o-object-fit: cover;
       object-fit: cover;
}


.mijn_lijst section article h3
{
    font-family: helvetica;
    font-style: bold;
    margin-left: 1.5rem;
    width: 100%;
    color: white;
}

.mijn_lijst section article p
{
    font-family: helvetica;
    margin-left: 1.5rem;
    border: none;
    color: white;
}

.mijn_lijst section article button
{
     /* width: 2em; */
     background: none;
     margin-right: 5px;
     font-size: 2em;
     color: #d60000;
     border: none;
     align-self: baseline;
     margin-left: auto;
}

.mijn_lijst section article:hover {
    background-color: rgb(20, 20, 20);
    transform: scale(1.2);
    transition: ease-out 0.4s;
    z-index: 999;
}



/*THUMNAILS*/

article {
    position: relative;
    margin-right: 1em;
    height: 100%;
    max-width: 21.3em;
}



article div a {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

article div a h3 {
    width: 100%;
    padding: 0px;
    color: white;
    font-size: 2em;
    font-family: helvetica, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0px;
    margin-left: 0.5em;
}

article div a p {
    padding: 0em 1em;
    ;
    color: white;
    font-size: 1em;
    font-family: helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    align-self: center;
}

article div a p:nth-of-type(1) {
    margin-right: auto;
    background-color: #d60000;
    margin-left: 1em;
}


article div a p:nth-of-type(2) {
    margin-left: auto;
}

article div button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: transparent;
    border: none;

}


article div button i {
    color: #d60000;
    font-size: 3em;
    border: none;
  text-shadow: 2px 2px 4px #000000;
}




/*hover*/

article:hover {
    transform: scale(1.1);
    transition: ease-out 0.4s;
    z-index: 999;
}

article div a:hover {
    opacity: 1;
    transition: ease-in 0.2s;
    background-color: rgba(0, 0, 0, 0.75);
}
